@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap");
/*
 * Custom CSS for CS32
 */

@font-face {
  font-family: "Space and Astrology";
  src: url("../fonts/SpaceAndAstronomy.ttf");
}

* {
  color: #1b0b5c;
  font-family: "Expletus Sans", serif;
}
body {
  width: 100%;
  font-family: "Space and Astrology", serif;
  background-color: #f9f5da;
}

a {
  color: rgb(97, 83, 209);
  text-decoration: underline;
}

a:hover {
  color: #1b0b5c;
  text-decoration: underline;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 35px 0;
  /*text-transform: uppercase;*/
  /*font-family: "Verdana", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Space and Astrology", serif;
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 40px;
}

h3 {
  color: #433481;
}

p {
  margin: 0 0 25px;
  font-size: 15px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 17px;
    line-height: 1.6;
  }
}

blockquote,
.tagline {
  font-family: "Expletus Sans", serif;
  font-size: 1em;
  font-style: italic;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul {
  font-size: 1.12em;
  padding-left: 1.5em;
  line-height: 2.1;
}

/* Tables */
table {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #ddcaf5;
  /* background-color: #6858a8; */
  font-size: 1.1em;
  margin-bottom: 40px;
}

tr:nth-child(2n + 1) {
  background-color: #ddcaf5;
  /* background-color: #6858a8; */
}

th {
  height: 3.5em;
  background-color: #6858a8;
  /* background-color: #1B0B5C; */
  font-size: 1.05em;
  color: white;
}

td,
th {
  padding: 8px 20px 8px 20px;
  text-align: center;
}

.margin-centered {
  margin: 0 auto;
}

/* Responsiveness in tables */
@media only screen and (max-width: 990px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  .flex-row {
    flex-wrap: wrap;
    /* display: block !important; */
  }

  iframe {
    display: none;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr,
  tr th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr:nth-child(n + 2) {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /* For tables that have assignments (projects & labs) */
  table.assignment td:nth-of-type(1):before {
    content: "Assignment";
  }
  table.assignment td:nth-of-type(2):before {
    content: "Out";
  }
  table.assignment td:nth-of-type(3):before {
    content: "Due";
  }

  /* Lectures table */
  table.lecture td:nth-of-type(1):before {
    content: "Lecture #";
  }
  table.lecture td:nth-of-type(2):before {
    content: "Date";
  }
  table.lecture td:nth-of-type(3):before {
    content: "Topic";
  }
  table.lecture td:nth-of-type(4):before {
    content: "Readings";
  }
  table.lecture td:nth-of-type(5):before {
    content: "Lecture (.pdf)";
  }
  table.lecture td:nth-of-type(6):before {
    content: "Recording (.mp4)";
  }
  table.lecture td:nth-of-type(7):before {
    content: "Take Away Questions";
  }

  /* For the Tom's office hours table */
  table.tom-hours td:nth-of-type(1):before {
    content: "Day";
  }
  table.tom-hours td:nth-of-type(2):before {
    content: "Time";
  }

  /* For the lab hours table */
  table.lab-hours td:nth-of-type(1):before {
    content: "Time";
  }
  table.lab-hours td:nth-of-type(2):before {
    content: "Location";
  }
  table.lab-hours td:nth-of-type(3):before {
    content: "TAs";
  }

  /* For the ta hours table */
  table.ta-hours td:nth-of-type(1):before {
    content: "Time";
  }
  table.ta-hours td:nth-of-type(2):before {
    content: "Sunday";
  }
  table.ta-hours td:nth-of-type(3):before {
    content: "Monday";
  }
  table.ta-hours td:nth-of-type(4):before {
    content: "Tuesday";
  }
  table.ta-hours td:nth-of-type(5):before {
    content: "Wednesday";
  }
  table.ta-hours td:nth-of-type(6):before {
    content: "Thursday";
  }
  table.ta-hours td:nth-of-type(7):before {
    content: "Friday";
  }
  table.ta-hours td:nth-of-type(8):before {
    content: "Saturday";
  }

  /* Gear up table */
  table.gear-up td:nth-of-type(1):before {
    content: "Date";
  }
  table.gear-up td:nth-of-type(2):before {
    content: "Topic";
  }
  table.gear-up td:nth-of-type(3):before {
    content: "Slides";
  }

  /* Makes sure empty cells won't have labels */
  table td:empty {
    display: none;
  }
}

/* Alternate background colors (and adjust text colors to compensate) */
.section-header {
  background-color: #f9f5da;
  height: 50px;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.basis-33 {
  flex-basis: 33%;
}

.width-100 {
  width: 100%;
}

.width-max {
  width: max-content;
}

.m-1 {
  margin: 1em;
}

@media (min-width: 768px) {
  .large-hidden {
    display: none;
  }
  .flex-row {
    display: flex;
  }
}

/* Bootstrap hidden class uses !important flag */
.hidden-weak {
  display: none;
}

@media (max-width: 768px) {
  .intro .brand-heading {
    padding-top: 8vh !important;
  }
}

@media (min-width: 768px) {
  .toggle-flex {
    flex-direction: row;
  }

  .toggle-target {
    flex-direction: row;
  }
}

#navbar-open-button img {
  width: 45px;
}

#navbar-open-button:hover {
  cursor: pointer;
}

#navbar-close-button:hover {
  cursor: pointer;
  color: #d6d2da;
}

.info-box-opaque {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 30px;
}

#course-info h3 {
  color: #1b0b5c;
  /* text-shadow: 1px 2px 0 rgb(254, 211, 49); */
}

#course-info p,
#course-info li {
  color: #1b0b5c;
}

#course-info blockquote {
  color: #777777;
}

#course-info tagline {
  color: #777777;
}

#assignments {
  background-color: #f9f5da;
}

table a {
  color: #1b0b5c;
  border-radius: 5px;
  background-color: #f4effa;
  padding: 0 4px;
  text-decoration: none;
}

table a:hover {
  color: #1b0b5c;
  border-radius: 5px;
  background-color: #e9e2f1;
  padding: 0 4px;
  text-decoration: none;
}

#lectures {
  background-color: #f9f5da;
}

/* #lectures a {
    color: #1B0B5C;
    border-radius: 5px;
    background-color: #f4effa;
    padding: 0 4px;
} */

#hours {
  background-color: #f9f5da;
}

#staff {
  margin-top: 30px;
  width: 100%;
  align-items: center;
}

#staff h2 {
  /*color: #000;*/
  /*color: #fff;*/
  /*font-family: "Montserrat", serif;*/
}

#staff h4 {
  color: #fff;
  font-family: "Space and Astrology", serif;
  letter-spacing: 1px;
}

.intro-img {
  max-width: 100%;
  max-height: 100%;
}

.drawings-box {
  padding-top: 4vh;
}

.drawing {
  padding-left: 1em;
  padding-right: 1em;
}

.divider {
  width: 100vw;
  padding-left: 12vw;
  padding-right: 12vw;
  padding-top: 4vh;
  padding-bottom: 1vh;
}

/* Custom section types */
/* .content-section:before {
    background-color: #0C457E;
    height: 35px;
    width: 100%;
    left: 0;
    position: absolute;
    margin-top: -60px !important;
    margin-bottom: 30px;
    display: block;
  } */

.content-section {
  padding-top: 30px;
  /* padding-bottom: 30px; */
}

.inset-box {
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #111;
  background-color: rgba(101, 18, 210, 0.06);
}

.section-title {
  font-family: "Space and Astrology", serif;
  color: #433481;
  /* text-shadow: 2px 2px 0 #1B0B5C;
    -webkit-text-stroke: 1px #1B0B5C; */
  font-size: 40px;
  text-align: center;
}

.section-title-img {
  width: 100px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .content-section {
    padding-top: 60px;
    /* padding-bottom: 60px; */
  }
  .inset-box {
    padding: 40px 40px 40px;
    margin-top: 40px;
    margin-bottom: 0;
  }
  .content-section:before {
    margin-top: -60px;
    margin-bottom: 40px;
  }
}

footer {
  padding: 30px 0;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}

footer a {
  color: #1b0b5c;
}

.spacing {
  width: 20px;
  display: inline-block;
}

.ta {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  width: 200px;
  vertical-align: top;
}

.ta p {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 10px;
}

.ta div {
  background-size: 200px 200px;
  border-radius: 7px;
  width: 200px;
  height: 135px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Navbar */

.navbar-custom {
  margin-bottom: 0;
  font-size: 0.9em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  background-color: #1b0b5c;
  height: max-content;
  min-height: 10rem;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-custom a {
  color: #f9f5da;
  text-decoration: none;
}

.navbar-custom a:hover {
  color: #d6d2da;
}

.width-screen {
  width: 100vw;
}

.height-screen {
  height: 100vh;
}

.navbar-custom .nav li a {
  -o-transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: #d6d6d6;
  text-decoration: none;
}

.navbar-custom .nav li a:hover {
  color: #b2a6c5;
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  background-color: transparent;
}

.navbar-custom .nav li.active a {
  background-color: rgba(20, 20, 20, 0.05);
}

.navbar-custom .nav li.active a:hover {
  color: #d6d6d6;
}

@media (max-width: 768px) {
  .small-hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 8px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    -o-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #1b0b5c;
    color: white;
  }
}

@media (max-width: 768px) {
  .navbar-custom {
    -o-transition: background 0.2s ease-in-out, padding 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out, padding 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out, padding 0.2s ease-in-out;
    transition: background 0.2s ease-in-out, padding 0.2s ease-in-out;
  }
  .section-title {
    padding-top: 10px;
    font-size: 35px;
    padding-bottom: 10px;
  }

  blockquote {
    font-size: 1em;
  }

  .divider {
    padding: 0;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #1b0b5c;
  }

  .email {
    padding-top: 10px;
  }

  .navbar-collapse {
    margin-top: -50px;
    background-color: #1b0b5c;
    color: white;
  }
}

#docs-and-guides {
  /* background-image:url('../img/starry.PNG'); */
  background-size: 600px;
}

.resources-header {
  /* margin-left: -2rem; */
}

footer {
  width: 100%;
}

.intro {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #d21242;
  background: no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
  /* padding-bottom: 20px; */
  padding-top: 20px;
  background-color: #f9f5da;
  width: 60vw;
  text-align: center;
}

.intro .brand-heading {
  font-size: 25px;
  color: #1b0b5c;
  padding-top: 18vh;
  font-weight: bold;
}

.intro-text {
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 60vw;
  font-size: 12px;
  color: #1b0b5c;
}

.intro-body {
  font-size: 16px;
  color: #1b0b5c;
}

@media (max-width: 768px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
    background-color: #f9f5da;
  }
  .intro {
    background: white;
    margin-top: 50px;
  }
  .intro-text {
    margin-top: 20px;
    font-size: 16px !important;
    color: #000000 !important;
    text-shadow: none !important;
    letter-spacing: -0.02em;
  }
  .iframe {
    width: 350px;
  }
  .intro .intro-body .brand-heading {
    font-size: 3.5rem;
    letter-spacing: 1px;
  }
  .white-button {
    border: 1px solid #000;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 15px 0;
    font-size: 2.5rem;
  }

  #staff h4 {
    margin: 15px;
  }
  .intro-image {
    max-height: 50px !important;
  }
}

@media (min-width: 768px) {
  .intro {
    height: 100vh;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 5.5rem;
    letter-spacing: 1px;
  }
  .intro .intro-body .intro-text {
    font-size: 18px;
    letter-spacing: -0.02em;
  }
}

/*.btn-square {
    font-family: Montserrat, Geneva, Arial,  sans-serif !important;
    width: 300px;
    height: 50px;
    margin-top: 15px;
    padding: 15px 20px;
    font-size: 30px;
    font-weight: 700 !important;
    color: #fff;
    background: 0 0;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}*/

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

/*.btn {
    border-radius: 0;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}
*/
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 1);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  --webkit-tap-highlight-color: rgba(255, 255, 255, 1);
}

.note {
  font-size: 10pt;
}

.light-blue-button {
  background-color: #3a2689;
  color: white;
  font-size: 0.85em;
}

.light-blue-button:hover {
  background-color: #604bb1;
  color: white !important;
}

.white-button {
  background-color: #ffffff;
  font-size: 0.85em;
  color: #3a2689 !important;
  opacity: 0.8;
}

.white-button:hover {
  opacity: 1;
}

.webhandout {
  width: 100vw;
  margin-top: 100px;
  text-align: center;
}

.foldable {
  outline: none;
  border: none;
  width: 90vw;
  color: #3a2689;
  text-align: left;
  margin: 10px 20px;
  border-radius: 5px;
}

.course-logo-font,
.course-logo-font:focus {
  font-family: "Space and Astrology", serif;
  font-size: 25px;
  color: #6858a8;
  /* text-shadow: 2px 2px 0 #3A2689; */
  /* -webkit-text-stroke: 1px #3A2689; */
}

.staff-flexbox {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
  flex-wrap: wrap;

  margin: auto;
  padding: 0;
}

.ta-member {
  margin: 2%;
  display: block;
  justify-content: center;
  align-items: center;
  width: 28%;
}

.ta-img {
  justify-content: center;
  align-items: center;
}

.ta-img img {
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 0 rgb(254 211 49);
}

.ta-profile {
  justify-content: center;
  display: block;
  margin: auto;
  border-radius: 5px;
  width: 90%;
  max-height: 280px;
  object-fit: cover;
}

.ta-item {
  margin: auto;
  justify-content: center;
  width: 85%;
  display: none;
  border-radius: 5px;
}

.ta-img:hover .ta-profile {
  display: none;
}

.ta-img:hover .ta-item {
  display: block;
}

.ta-name {
  text-align: center;
  overflow: hidden;
  font-size: 22px;
  margin-bottom: 5px;
  color: #3a2689;
}

.ta-login {
  text-align: center;
  margin-bottom: 0;
  color: #000000;
}

.ta-pronouns {
  text-align: center;
  margin-bottom: 15px;
  color: #000000;
}

.ta-bio {
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .ta-member {
    width: 70%;
  }
}

.ta-card {
  background-color: transparent;
  width: 270px;
  height: 340px;
  perspective: 1000px; /* 3D effect */
  color: white;
  margin: 4%;
  display: block;
  justify-content: center;
  align-items: center;
}

.ta-picture {
  width: 270px;
  height: 270px;
  padding: 10px;
  border-radius: 30px;
}

.ta-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.ta-card:hover .ta-card-inner {
  transform: rotateY(180deg);
}

.ta-card-front,
.ta-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: #3a2689;
  border-radius: 25px;
  color: white;
}

.ta-card-front {
  color: #3a2689;
}

.ta-card-front-text {
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 70px;

  /* border: 10px solid #3A2689;
    border-top: none; */
}

.ta-card-back {
  color: white;
  transform: rotateY(180deg);
}

.ta-card-name {
  font-family: "Space and Astrology", serif;
  font-size: 20px;
  padding-top: 10px;
  font-weight: bold;
}

.back-name {
  margin-bottom: 7px;
}

.ta-card-login {
  font-size: 16px;
}

.ta-card-info-container {
  margin: 10px;
  background-color: white;
  color: #3a2689;
  border-radius: 25px;
  width: 250px;
  height: 320px;
  padding: 10px;
}

.ta-card-pronouns,
.ta-card-zodiac,
.ta-card-hometown {
  padding: 2px;
}

.ta-card-bio {
  text-align: left;
  padding-top: 8px;
  padding: 5px;
}

.email {
  margin-top: -25px;
  font-size: 20px;
  color: #6858a8;
  /* padding-bottom: 30px; */
}

.button-container {
  align-items: center;
  margin-top: -20px;
  height: auto;
}

.button-container a {
  height: auto;
  width: auto;
  min-width: 20vw;
}

.debugging-button {
  color: white;
  background-color: #6858a8;
  padding: 1.4em;
  border-radius: 12px;
  margin: 2em;
  margin-top: none;
  margin-right: 3em;
  margin-left: 3em;
  min-width: 20vw;
  text-align: center;
  font-size: 18px;
  font-family: "Space and Astrology", serif;
}

.debugging-button:hover {
  background-color: #3a2689;
}

.hours-container {
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.course-logo-font {
  text-decoration: none;
}

.lab-container {
  margin-bottom: 30px;
}